:root {
    --square-size: 0;
}

/* Styling for the header and small text */
.etch-top {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Div container containing the grid div */
.grid-container {
    display: flex;
    justify-content: center;
}

/* Styling for grid div */
.grid {
    display: flex;
    width: 30%;
    flex-wrap: wrap;
}

/* Bottom styling */
.etch-bottom {
    display: flex;
    justify-content: center;
    margin-top: 3em;
}

.etch-bottom-btn {
    width: 10em;
    height: 4em;
}

/* Styling for each grid square */
.square {
    background-color: black;
    width: var(--square-size);
    height: var(--square-size);
}